@import "../utils/variables";
@import "../utils/mixins";

.rinit-slider {
  overflow: hidden;

  .rinit-slider__controls {
    &.rinit-slider__controls--absolute {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }

    &.rinit-slider__controls--static {
      position: static;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .rinit-slider__button-prev,
      .rinit-slider__button-next {
        position: static;
        transform: translateY(0);
      }
    }
  }

  .rinit-slider__pagination {
    span {
      color: $COLOR_BLACK;
      font-family: $ffFuturaPT;
      font-size: 17px;
      font-style: normal;
      font-weight: $book;
      line-height: 25px;
    }
  }

  .rinit-slider__button-prev,
  .rinit-slider__button-next {
    width: 40px;
    height: 44px;
    position: absolute;
    top: 292px;
    //transform: translateY(-50%);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1.6px solid #E3D4DC;
    background: $COLOR_WHITE;

    &:hover {
      cursor: pointer;
    }

    img {
      height: 17px;
    }

    &.disabled {
      visibility: hidden;
    }
  }

  .rinit-slider__button-prev {
    left: 0;
    border-radius: 0 13px 13px 0;
  }

  .rinit-slider__button-next {
    right: 0;
    border-radius: 13px 0 0 13px;

    img {
      transform: rotate(180deg);
    }
  }

  @include media(sm) {
    .rinit-slider__button-prev,
    .rinit-slider__button-next {
      top: 200px;
      width: 34px;
      height: 38px;

      img {
        height: 13px;
      }
    }
  }
}